#######################C Files##########################
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#######################C++ Files########################
# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


########################KERNEL##########################
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno

########################MAC OSX##########################
.DS_Store
ramdisk_ioctl.c.BACKUP.16050.c

ramdisk_ioctl.c.BASE.16050.c

ramdisk_ioctl.c.LOCAL.16050.c

ramdisk_ioctl.c.REMOTE.16050.c

#######################SUBL/ECLIPSE PROJECT########################
ramdisk.sublime-workspace
ram
ram.*
.project
.cproject

user.dSYM/Contents/Resources/DWARF/user

ramdisk_ioctl.c.orig
